/* body {
  background-color: hsla(110, 50%, 50%, 0.5);
}



h1 {
  font-size: small;
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
}
 */

body{
  background-color:hsla(110,50%,50%,0.5);
}
h1{
  font-size:small;
  border-width:1px;
  border-style:solid;
  border-color:currenColor;
}