@import "/src/common/mini-reset.css";

html{
  font-size:10px;

  @media screen and (min-width:600px) and (max-width:1199px) {
   font-size:20px;
  }
  @media screen and (min-width:1200px) and (max-width: 2000px) {
   font-size:100px;
  }
  
}

.lion{
  font-size:10px;
  .like{
    font-size:1.5em;
    color:orange;
  }
}

.bootcamp{
  font-size:20px;
  .like{
    font-size:2rem;
    color:blue;
    line-height:1.5;
  }
}

.school{
  font-weight:700;
  .like{
    font-size:5vw;
    color:green;

    .em{
      font-style:italic;
    }
  }
}